<div class="dropdown">
    <a href="#" class="uncommon-link">PHOTO GALLERY <span class="dropdown-arrow">&#9662;</span></a>
    <ul class="dropdown-menu">
        {{#each galleries}}
        <li><a href="/galleries/{{slug}}" class="dropdown-link">{{name}}</a></li>
        {{/each}}
        <li><a href="/Guidelines" class="dropdown-link">Photography Guidelines</a></li>
    </ul>
</div>

{{#each galleries}}
<li><a href="/galleries/{{slug}}">{{name}}</a></li>
{{/each}}