.container2 {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    border-radius: 50px 50px 50px 50px;
}

@media (max-width:430px){
    .container2 {
    max-width: 410px;
    }
}

.content {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
}

.slider {
    flex: 0 0 45%;
    max-width: 700px;
    position: relative;
}

.details {
    flex: 1;
    min-width: 300px;
    max-width: 800px;
}

.slider img {
    width: 100%;
    border-radius: 8px;
    height: 600px;
    max-width: 100%;
    object-fit: contain;
    background-color: #f8f8f8;
    transition: transform 0.3s ease;
}

.slider img:hover {
    transform: scale(1.02);
}

.slider .prev, .slider .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
}

.slider .prev {
    left: 10px;
}

.slider .next {
    right: 10px;
}

.details {
    flex: 2;
}

.tabs {
    display: flex;
    gap: 0px;
    margin-bottom: 10px;
}

.tab {
    flex: 1;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.tab.active {
    background-color: #394464;
    color: #fff;
    border-color: #394464;
}

.tab-content {
    padding: 10px;
    font-size: 15px;
    color: #333;
    font-family: var(--theme-font-family);
}

.tab-content p {
    margin: 0 0 10px;
    font-family: "Gill Sans", sans-serif;
}

p{
    font-family: "Gill Sans", sans-serif;
}

@media (min-width:523px) and (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .slider {
        width: 100%  !important;
        position: relative;
    }
    .slider img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .slider .prev,
    .slider .next {
        top: 50%;
        transform: translateY(-50%);
    }
    .details {
        width: 100%;
        padding-top: 20px;
    }
    .tabs {
        flex-direction: column;
    }
}

@media (max-width: 523px) {
    .slider img {
        width: 100%;
        max-width:450px;
        height: auto;
    }
    .content {
        flex-direction: column;
        align-items: center;
        max-width: 400px;
    }
}

@media (max-width: 1024px) {
    .content {
        flex-direction: column;
    }
    .slider {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    .details {
        width: 100%;
    }
    .slider img {
        height: 400px;
    }
}

@media (max-width: 640px) {
    .container2 {
        padding: 15px;
        margin: 20px auto;
    }
    .slider img {
        height: 300px;
    }
}